<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title | default: "Thoughts from beyond dreamscape." }}</title>
		<link rel="stylesheet" href="/styles/bundle.css">
		<link rel="stylesheet" href="/styles/prism-base16-monokai.dark.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CKSJVWVKDN"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-CKSJVWVKDN');
    </script>
  </head>
	<body>
		<header>
			<nav>
				<div class="nav-brand">
                    <a href="/">Thoughts from beyond dreamscape</a>
                </div>
			</nav>
		</header>
		<div class="container">
			<main>
				{% if title %}
                    <h1>{{ title }}</h1>
                {% endif %}
				{{ content }}
			</main>
		</div>
		<footer>
            <div class="container">
                <p>&copy; 2025 Beyonddream. All rights reserved.</p>
            </div>
        </footer>
	</body>
</html>